@charset "utf-8";
.prod_count {
  display: inline-block;
  width: 65px;
  height: 65px;
  line-height: 65px;
  background: url(../../images/icon/icon_shop.png) no-repeat;
  color: #fff;
  text-align: center;
}
.prod_count .t_type {
  font-size: 19px;
}
.prod_box .thumb {
  position: relative;
  float: left;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 12px 0 0 12px;
  z-index: 1;
}
.prod_box .thumb img {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 12px 0 0 12px;
}
.prod_box .prod_info {
  position: relative;
  float: left;
  width: 649px;
  z-index: 2;
  padding: 20px 30px 0;
}
.prod_box .prod_info:after {
  position: absolute;
  top: 40px;
  left: -27px;
  display: block;
  width: 27px;
  height: 30px;
  content: "";
  background: url(../../images/content/shopcategory/bg_prodbox_arrow.png)
    no-repeat;
}
.prod_box .prod_info .txt1 {
  width: 450px;
  height: 130px;
  font-size: 27px;
  color: #000;
  font-weight: 700;
  line-height: 1.2;
}
.prod_box .prod_info .txt1 span {
  display: block;
  margin: 0 0 5px;
  font-size: 15px;
  font-weight: 400;
}
.prod_box .prod_info .per {
  position: absolute;
  top: 0;
  right: 30px;
  color: #118c00;
  font-size: 30px;
}
.prod_box .prod_info .per strong {
  font-size: 70px;
}
.prod_box .prod_info .delivery {
  float: left;
  margin: 14px 0 0;
}
.prod_box .prod_info .price {
  position: relative;
  float: right;
  margin: -12px 0 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
}
.prod_box .prod_info .price del {
  position: absolute;
  top: -18px;
  right: 0;
  color: #666;
}
.prod_box .prod_info .price strong {
  margin: 0 0 0 20px;
  font-size: 40px;
}
.prod_box .prod_info .btnwrap {
  clear: both;
  padding: 15px 0 0;
  border-top: 2px solid #b7b7b7;
  text-align: right;
}
.prod_box .prod_info .btnwrap a {
  margin: 0 0 0 3px;
}
.prod_box .prod_info .btnwrap a i {
  padding: 0 21px 0 25px;
}
.best100 .full_tab {
  padding: 21px 0 0 0;
  width: 1090px;
}
.best100 .tab100 ul{
  display:flex;
  flex-wrap:wrap;
}
.best100 .tab100 ul li {
  position: static;
}
.best100 .tab100 ul li a {
  display: block;
  margin: -1px 0 0 -1px;
  height: 48px;
  padding: 0;
  background: #fff;
  border: 1px solid #d6d6d6;
  color: #333;
  font-size: 18px;
  line-height: 48px;
  text-align: center;
}
.best100 .tab100 ul li.cnt a {
  border: #ff7600;
  background: #ff7600;
  color: #fff;
}
.best100 .tab100 ul li:first-child a {
  margin-left: -1px;
}
.best100 .tab100 ul li.cnt:first-child a {
  margin-left: -1px;
}
.best100 .tab100 ul:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.best100 #content_title #path {
  margin-top: 13px;
}
.best100 #content_title #path strong {
  letter-spacing: 0;
}
.best100 .top {
  display: none;
  position: relative;
  height: 177px;
  padding: 13px 0 0 0;
  overflow: hidden;
}
.best100 .top .inner {
  height: 177px;
  background: #3acbf5;
}
.best100 .top .inner .title {
  position: absolute;
  bottom: -135px;
  left: 50%;
  margin-left: -179px;
  opacity: 0;
}
.best100 .top .inner .obj01 {
  position: absolute;
  bottom: -124px;
  left: 50%;
  margin-left: -457px;
  opacity: 0;
}
.best100 .top .inner .obj02 {
  display: none;
  position: absolute;
  bottom: 31px;
  left: 50%;
  margin-left: 329px;
}
.best100 .top .inner .obj03 {
  display: none;
  position: absolute;
  bottom: 24px;
  left: 50%;
  margin-left: -273px;
}
.best100 .top .inner .obj04 {
  display: none;
  position: absolute;
  bottom: 106px;
  left: 50%;
  margin-left: -515px;
}
.best100 .best10 {
  padding: 0 0 17px 0;
}
.best100 .best10 .content_box1150 {
  width: 1090px;
}
.best100 .ttitle {
  position: relative;
  height: 100px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 96px;
  color: #000;
}
.best100 .ttitle .txt {
  display: inline-block;
  word-spacing: 5px;
}
.best100 .ttitle .date {
  display: inline-block;
  position: relative;
  top: -3px;
  font-size: 20px;
  color: #ff7600;
  font-weight: 400;
  letter-spacing: 0;
}
.best100 .ttitle .date strong {
  margin-right: 7px;
  color: #000;
  font-weight: 700;
}
.best100 .ttitle .date i {
  position: relative;
  font-size: 20px;
  letter-spacing: -1px;
}
.best100 .ttitle .date .layer_box {
  display: none;
  top: 60px;
  left: 215px;
  width: 170px;
  font-size: 11px;
  line-height: 16px;
  color: #333;
  text-align: left;
}
.best100 .ttitle .date .layer_box.etc {
  display: none;
  top: 71px;
  left: 37px;
  width: 212px;
  font-size: 11px;
  line-height: 16px;
  color: #333;
  text-align: left;
}
.best100 .ttitle .date .layer_box:after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  right: 10px;
  width: 10px;
  height: 6px;
  background: url(../../images/content/shopcategory/best100_bl.png) no-repeat;
}
.best100 .ttitle .date .layer_box .layer_gray1_con {
  padding: 0;
  letter-spacing: -1px;
}
.best100 .ttitle .date .layer_box .layer_gray1_con p {
  padding: 10px;
  border-bottom: 1px solid #ececec;
  font-size: 14px;
  font-weight: 700;
}
.best100 .ttitle .date .layer_box .layer_gray1_con span {
  display: block;
  padding: 10px;
  font-size: 14px;
}
.best100 .ttitle .date .layer_box .layer_gray1_con .btn_lyclose {
  right: 6px;
  bottom: 7px;
}
.best100 .ttitle .layer_btn {
  display: inline-block;
  margin: -2px 0 2px 3px;
  width: 14px;
  height: 14px;
  background: url(../../images/icon/ico_question.gif) no-repeat 0 0;
  text-indent: -5000px;
  vertical-align: middle;
  text-align: left;
}
.best100 .best10 .product_new_type01 ul li .pro .lktxt strong {
  display: none;
}
.best100 .best10 .product_new_type01 .icontype1 em {
  position: absolute;
  top: 0;
  left: 0;
}
.best100 .best10 .product_new_type01 .commenttxt1 {
  display: none;
}
.best100 .best10 .product_new_type01 ul li .price tr {
  display: none;
}
.best100 .best10 .product_new_type01 ul li:hover {
  border: 1px solid #ff7600;
}
.best100 .best10 .product_new_type01 ul li.f:hover {
  margin: 0;
}
.best100 .best10 .product_new_type01 ul li .price tr:first-child {
  display: block;
}
.best100 .best10 .product_new_type01 ul li .icontype1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}
.best100 .best10 .product_new_type01 ul li .icontype1 em {
  display: none;
}
.best100 .best10 .product_new_type01 ul li .icontype1 .itype_best {
  display: block;
  width: 40px;
  height: 40px;
  /* background: url(../../images/icon/ico_percent02.png) no-repeat; */
  z-index: 10;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: 0;
  text-indent: 0;
  background: #ff7600;
}
.best100 .best10 .product_new_type01 ul li .icontype1 .itype_best:after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: 50%;
  width: 46px;
  height: 11px;
  margin-left: -23px;
  /* background: url(../../images/icon/ico_best.png) no-repeat 0; */
}
.best100 .best10 .product_new_type01 ul li .saleicontype1 {
  display: none;
}
.best100 .best10 .product_new_type01 ul li .ico_store {
  display: none;
}
.best100 .best_prod .product_new_type01 ul li .icontype1 em {
  display: none;
}
.best100 .best_prod .product_new_type01 ul li .icontype1 em.itype_best {
  display: block;
  position: absolute;
  top: -1px;
  right: 0;
  width: 40px;
  height: 40px;
  margin: 0;
  background-position: -213px -310px;
  z-index: 40;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-indent: 0;
  text-align: center;
  line-height: 30px;
}
.best100 .best_prod .product_new_type01 ul li:hover {
  border: 1px solid #009de6;
  margin-left: -1px;
}
.best100 .best_prod .product_new_type01 ul li.f:hover {
  margin: 0;
}
.best_prod {
  margin: 20px 0 0;
}
.best_prod .catelisttype1 ul li .icontype1 {
  right: -4px;
}
.best_prod .catelisttype1 ul li.f .icontype1 {
  top: -27px;
}
.best_prod .catelisttype1 ul li.f .pro .lktxt {
  height: 87px;
}
.best_prod .catelisttype1 ul li .quantity {
  display: block;
  margin: -23px 0 5px 140px;
  font-size: 12px;
}
.best_prod .catelisttype1 ul li .quantity strong {
  margin: 0 0 0 10px;
  font-weight: 400;
}
.best_prod .catelisttype1 ul li.f .quantity {
  margin-left: 0;
}
.best_prod .productimgtype4 ul li {
  height: 355px;
}
.best_prod .productimgtype4 ul li .saleicontype1 {
  position: absolute;
  top: -30px;
  left: -5px;
  z-index: 20;
}
.best_prod .productimgtype4 ul li .pro .lktxt {
  height: 73px;
}
.best_prod .productimgtype4 ul li .quantity {
  display: block;
  margin: -23px 0 5px;
  font-size: 12px;
  text-align: left;
}
.best_prod .productimgtype4 ul li .quantity strong {
  margin: 0 0 0 10px;
  font-weight: 400;
}
.best_prod .productimgtype4_item5 ul li .icontype1 {
  position: absolute;
  top: -47px;
  right: -3px;
}
.choice_section {
  margin: 40px 0 0;
  width: 100%;
}
.choice_section h3 {
  margin: 0 0 10px;
  font-size: 18px;
}
.choice #content_title #path {
  margin-top: 13px;
}
.choice_top {
  margin: -97px 0 20px;
  min-width: 1090px;
  background: url(../../images/content/shopcategory/bg_choice_top.gif) repeat;
}
.choice_top h2 {
  width: 1090px;
  height: 170px;
  margin: 0 auto;
  padding: 42px 0 0;
  background: url(../../images/content/shopcategory/bg_choice_top02.png)
    no-repeat;
  text-align: center;
}
.choice_list {
  width: 1090px;
  margin: 0 auto;
  padding: 9px 0 0;
  background: url(../../images/content/shopcategory/bg_choice_list.png) repeat-x;
}
.choice_list_inner {
  width: 100%;
  overflow: hidden;
  padding: 18px 0 78px;
  background: #fff;
}
.choice_list h3 {
  margin: 0 10px;
  padding: 0 0 16px 13px;
  background: url(../../images/icon/icon_dot3x1_03.gif) repeat-x 0 100%;
}
.choice_list h3 span {
  display: inline-block;
  width: 436px;
  height: 23px;
  background: url(../../images/title/title_shop.gif) no-repeat;
  text-indent: -9999px;
}
.choice_list_box {
  position: relative;
  margin: 4px 0 0;
  background: url(../../images/content/shopcategory/bg_choice_list_box.gif)
    repeat-y 50% 0;
}
.choice_list_box:after {
  display: block;
  content: "";
  clear: both;
}
.choice_list_box .choice_list_box_inner {
  float: left;
  width: 353px;
}
.choice_list_box .choice_list_box_inner:first-child {
  width: 354px;
}
.choice_list_box .choice_list_box_inner .choice_prod {
  min-height: 208px;
  padding: 35px 0 0;
}
.choice_list_box .choice_list_box_inner .choice_prod:after {
  display: block;
  content: "";
  clear: both;
}
.choice_list_box .choice_list_box_inner:first-child .choice_prod {
  background: 0 0;
}
.choice_list_box .choice_prod .thumb {
  position: relative;
  float: left;
  width: 170px;
  height: 155px;
  margin: 4px 0 0;
  padding: 27px 0 0;
  text-align: center;
}
.choice_list_box .choice_prod .thumb .prod_count {
  position: absolute;
  top: -7px;
  left: 57px;
}
.choice_list_box .choice_prod .thumb .pic img {
  width: 130px;
  height: 130px;
}
.choice_list_box .choice_prod .thumb .icontype2 {
  position: absolute;
  bottom: 0;
  left: 25px;
}
.choice_list_box .choice_prod .list {
  float: left;
  width: 160px;
  padding: 0 0 28px;
  border-top: 2px solid #333;
}
.choice_list_box .choice_prod .list p {
  padding: 2px 0 4px 9px;
  font-size: 15px;
}
.choice_list_box .choice_prod .list ul {
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}
.choice_list_box .choice_prod .list li {
  padding: 5px 9px 7px 9px;
  background: url(../../images/icon/icon_dot3x1_02.gif) repeat-x 0 0;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.choice_list_box .choice_prod .list li:first-child {
  background: 0 0;
}
.choice_list_box .choice_prod_txt {
  position: absolute;
  bottom: -78px;
  width: 301px;
  height: 46px;
  padding: 12px 25px;
  background: #f2f2f2;
  border-left: 2px solid #fff;
  font-size: 15px;
  color: #000;
  font-weight: 700;
}
.choice_list_box .choice_list_box_inner:first-child .choice_prod_txt {
  width: 303px;
  border: 0;
}
.choice_list_box .choice_prod_txt a {
  display: block;
  position: relative;
}
.choice_list_box .choice_prod_txt a:after {
  display: block;
  position: absolute;
  left: 50%;
  top: -26px;
  content: "";
  width: 26px;
  height: 14px;
  margin: 0 0 0 -13px;
  background: url(../../images/content/shopcategory/bg_choice_arrow.gif)
    no-repeat;
}
.choice_box {
  margin: 0 0 20px;
}
.choice_box:after {
  display: block;
  content: "";
  clear: both;
}
.choice_box .choice_prod_box {
  float: left;
  width: 740px;
  min-height: 414px;
  border: 1px solid #e1eaef;
}
.choice_box .thumb {
  position: relative;
  float: left;
  width: 180px;
  padding: 0 15px;
}
.choice_box .thumb .prod_count {
  position: absolute;
  top: 9px;
  left: 74px;
}
.choice_box .thumb .pic {
  display: block;
  padding: 30px 0 0;
  text-align: center;
}
.choice_box .thumb .pic img {
  width: 170px;
  height: 170px;
}
.choice_box .thumb .txt {
  display: block;
  width: 180px;
  margin: 15px auto 18px;
}
.choice_box .thumb .price {
  display: block;
  margin: 0 0 8px;
  color: #000;
}
.choice_box .thumb .price strong {
  color: #009de6;
}
.choice_box .list {
  width: 495px;
  min-height: 414px;
  padding: 0 17px;
  overflow: hidden;
  background: #f0f9fd;
  border-left: 1px solid #e1eaef;
}
.choice_box .list li {
  float: left;
  width: 91px;
  height: 160px;
  margin: 0 0 25px;
  padding: 0 16px;
  font-size: 12px;
  line-height: 1.2;
}
.choice_box .list li a {
  position: relative;
  display: block;
}
.choice_box .list li .pic {
  display: block;
  margin: 5px 0 8px;
}
.choice_box .list li .pic img {
  width: 90px;
  height: 90px;
}
.choice_box .list li .sold_out {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
  overflow: hidden;
  background: url(../../images/content/shopcategory/bg_sold_out.png) no-repeat;
  text-indent: -9999px;
}
.choice_box .list .txt {
  padding: 12px 0 15px 17px;
  font-size: 15px;
  font-weight: 700;
}
.choice_box .choice_prod_cart {
  float: left;
  width: 274px;
  padding: 0 0 0 44px;
  background: url(../../images/content/shopcategory/bg_choice_arrow02.gif)
    no-repeat 8px 183px;
}
.choice_prod_cart .tit {
  height: 45px;
  padding: 6px 0 0;
  font-size: 15px;
  border-top: 3px solid #333;
  line-height: 1.3;
}
.choice_prod_cart .share_view {
  float: right;
  margin: 0 0 10px;
}
.choice_prod_cart .cart {
  clear: both;
  border-top: 1px solid #c7c7c7;
}
.choice_prod_cart .default_txt {
  height: 251px;
  padding: 77px 0 0;
  border-bottom: 1px solid #c7c7c7;
  text-align: center;
}
.choice_prod_cart .cart_list li {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 31px;
  padding: 4px 0;
  background: url(../../images/icon/icon_dot3x1_02.gif) repeat-x 0 100%;
}
.choice_prod_cart .cart_list .txt {
  display: inline-block;
  width: 180px;
  font-size: 12px;
  padding: 4px 0 8px;
}
.choice_prod_cart .cart_list .select_quantity {
  position: absolute;
  top: 50%;
  left: 195px;
  margin: -15px 0 0;
}
.choice_prod_cart .cart_list .del {
  position: absolute;
  top: 50%;
  right: 0;
  width: 13px;
  height: 13px;
  overflow: hidden;
  margin: -7px 0 0;
  background: url(../../images/popup/btn_close_popup.gif) no-repeat;
  text-indent: -9999px;
}
.choice_prod_cart .cart_sum {
  padding: 9px 0;
  width: 100%;
  border-bottom: 1px solid #c7c7c7;
  text-align: right;
}
.choice_prod_cart .cart_sum strong {
  float: left;
  color: #009de6;
}
.choice_prod_cart .cart_count {
  padding: 9px 0;
  color: #666;
  text-align: right;
}
.choice_prod_cart .cart_count .txt {
  float: left;
  margin: 3px 0 0;
}
.choice_prod_cart .cart_count .select_quantity {
  float: left;
  margin: 0 4px;
}
.choice_prod_cart .cart_count .price {
  color: #000;
}
.choice_prod_cart .cart_count .price .t_type {
  display: inline-block;
  color: #009de6;
  font-size: 16px;
  vertical-align: -2px;
}
.choice_prod_cart .btnwrap {
  margin: 9px 0 0;
}
.choice_prod_cart .btnwrap a.btn_blue_33 i {
  padding: 8px 28px 0 25px;
}
.choice_prod_cart .btnwrap a.btn_b_blue_33 i {
  padding: 8px 31px 0 26px;
}
.days7 {
  margin: 0 0 -40px;
}
.days7 #content_title {
  height: 45px;
  padding: 0;
}
.days7_top {
  width: 1090px;
  overflow: hidden;
  margin: 0 auto;
}
.days7_top h2 {
  float: left;
  margin: 0 0 0 48px;
}
.days7_top p {
  position: relative;
  float: right;
  margin: 20px 0 0;
}
.days7_top p .date {
  position: absolute;
  top: -4px;
  left: 277px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
}
.days7_cont {
  clear: both;
  padding: 24px 0 40px;
  background: url(../../images/content/shopcategory/bg_7days.gif) repeat;
}
.days7_cont:after {
  display: block;
  content: "";
  clear: both;
}
.days7_box {
  width: 1090px;
  height: 393px;
  margin: 24px auto 0;
  padding: 15px 0 22px;
  background: url(../../images/content/shopcategory/bg_7days_box.png) repeat;
}
.days7_box:after {
  display: block;
  content: "";
  clear: both;
}
.days7_box:first-child {
  margin: 0 auto;
}
.days7_box .days7_date {
  float: left;
  margin: 6px 0 0 25px;
  font-weight: 700;
  color: #000;
  font-size: 30px;
}
.days7_box .days7_date img {
  margin: 0 8px 0 0;
}
.days7_box .days7_time {
  float: right;
  margin: 0 0 20px 0;
}
.days7_box .days7_time img {
  margin: 7px 0 0;
}
.days7_box .days7_time .counthours {
  float: right;
  display: inline-block;
  width: 494px;
  height: 70px;
  margin: 0 0 0 20px;
  padding: 0 0 0 11px;
  background: url(../../images/content/shopcategory/bg_time.png) no-repeat;
  color: #fff;
  font-size: 45px;
}
.days7_box .days7_time .counthours .txt_day {
  display: inline-block;
  font-size: 16px;
  vertical-align: 15px;
}
.days7_box .days7_time .counthours .txt_day span {
  display: inline-block;
  width: 46px;
  text-align: center;
  font-size: 45px;
}
.days7_box .days7_time .counthours .txt_hour,
.days7_box .days7_time .counthours .txt_minute,
.days7_box .days7_time .counthours .txt_second {
  display: inline-block;
  width: 90px;
  overflow: hidden;
  margin: 0 0 0 44px;
  letter-spacing: 32px;
  vertical-align: 0;
}
.days7_box .prod_box {
  clear: both;
  width: 1009px;
  height: 303px;
  margin: 0 auto;
  background: url(../../images/content/shopcategory/bg_prod_box.png) no-repeat;
}
.bigsale #content_title #path {
  margin-top: 13px;
}
.bigsale_top {
  margin: -97px 0 20px;
  min-width: 1090px;
  height: 200px;
  background: url(../../images/content/shopcategory/bg_top_bigsale.gif) repeat-x
    50% 0;
}
.bigsale_top .bigsale_top_inner {
  width: 1090px;
  height: 200px;
  margin: 0 auto;
  background: url(../../images/content/shopcategory/bg_top_bigsale02.png)
    no-repeat 415px 6px;
}
.bigsale_top h2 {
  padding: 35px 0 0 60px;
}
.bigsale_top p {
  text-indent: -9999px;
}
.bigsale .productimgtype4 ul li,
.outlet .productimgtype4 ul li {
  height: 512px;
}
.bigsale .productimgtype4 ul li.f,
.outlet .productimgtype4 ul li.f {
  height: 512px;
}
.bigsale .productimgtype4 ul li .pro .lktxt,
.outlet .productimgtype4 ul li .pro .lktxt {
  height: 100px;
}
.bigsale .productimgtype4 .item_unit li .pro .lktxt {
  height: auto;
}
.bigsale .productimgtype4 ul li .quantity,
.outlet .productimgtype4 ul li .quantity {
  margin: -23px 0 5px;
  height: 18px;
  font-size: 12px;
  text-align: left;
}
.bigsale .productimgtype4 ul li .quantity strong,
.outlet .productimgtype4 ul li .quantity strong {
  margin: 0 0 0 10px;
  font-weight: 400;
}
.outlet_top {
  position: relative;
  width: 100%;
  min-width: 1090px;
  height: 653px;
  margin-top: -110px;
  background: url(../../images/content/shopcategory/outlet_bg.png) no-repeat 50%
    0;
  font-size: 0;
}
.outlet_top .title {
  position: absolute;
  top: 37px;
  left: 50%;
  width: 1677px;
  height: 324px;
  margin-left: -850px;
  background: url(../../images/content/shopcategory/outlet_txt.png) no-repeat
    50% 0;
  z-index: 20;
}
.outlet_top .obj {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 768px;
  height: 419px;
  margin-left: -178px;
  background: url(../../images/content/shopcategory/outlet_obj.png) no-repeat
    50% 0;
  z-index: 30;
  opacity: 0;
}
.outlet_top .txt {
  position: absolute;
  top: 360px;
  left: 0;
  width: 100%;
  height: 159px;
  background: url(../../images/content/shopcategory/outlet_bg_line.png)
    no-repeat 50% 0;
  z-index: 40;
}
.outlet_top .info {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1090px;
  height: 134px;
  margin-left: -530px;
  background: #fff url(../../images/content/shopcategory/outlet_info.png)
    no-repeat 50% 100%;
  z-index: 30;
}
.today_top {
  position: relative;
  width: 1090px;
  height: 299px;
  margin: -110px auto 0;
  background: url(../../images/content/shopcategory/bg_top_today.png) repeat;
}
.today_top h2 {
  position: absolute;
  top: 30px;
  left: 107px;
}
.today_top .today_date .day {
  position: absolute;
  top: 110px;
  left: 470px;
  font-size: 17px;
  letter-spacing: 0;
  width: 122px;
  text-align: center;
  line-height: 25px;
}
.today_date .day strong {
  display: block;
  font-size: 26px;
}
.today_date .time_txt {
  position: absolute;
  top: 58px;
  left: 614px;
  overflow: hidden;
  width: 55px;
  height: 15px;
  background: url(../../images/content/shopcategory/text_time02.png) no-repeat;
  text-indent: -9999px;
}
.today_date .counthours {
  position: absolute;
  top: 118px;
  left: 642px;
  color: #fff;
  font-size: 55px;
  letter-spacing: 0;
}
.today_date .counthours .txt_minute {
  margin: 0 46px;
}
.today_top .today_txt {
  position: absolute;
  top: 242px;
  left: 665px;
  overflow: hidden;
  width: 264px;
  height: 27px;
  background: url(../../images/content/shopcategory/text_today02.png) no-repeat;
  text-indent: -9999px;
}
.today_section {
  margin: -16px 0 0;
  background: url(../../images/content/shopcategory/bg_today.gif) repeat 0 50%;
}
.today_section .today_inner {
  min-width: 1090px;
  padding: 36px 0 27px;
  background: url(../../images/content/shopcategory/bg_today02.png) repeat-x 50%
    0;
}
.today_box {
  width: 1090px;
  height: 553px;
  overflow: hidden;
  margin: 0 auto;
  background: url(../../images/content/shopcategory/bg_prod_box02.png) no-repeat;
}
.today_box .thumb {
  width: 550px;
  height: 550px;
  border-radius: 0 12px 12px 0;
}
.today_box .thumb img {
  position: relative;
  border-radius: 0 12px 12px 0;
  width: 550px;
  height: 550px;
  behavior: url(/pie/PIE.htc);
}
.today_box .prod_info {
  width: 449px;
  padding: 36px 30px 0;
}
.today_box .prod_info:after {
  top: 40px;
  left: 509px;
  background: url(../../images/content/shopcategory/bg_prodbox_arrow02.png)
    no-repeat;
}
.today_box .prod_info .per {
  position: static;
}
.today_box .prod_info .txt1 {
  height: 210px;
}
.today_box .prod_info .price {
  margin: 0;
}
.today_box .prod_info .btnwrap {
  padding: 28px 0 0;
  text-align: center;
}
.today_box .prod_info .btnwrap a:first-child {
  margin: 0;
}
.today_box .prod_info .btnwrap a {
  margin: 0 0 0 3px;
}
.today_box .prod_info .btnwrap a i {
  width: 141px;
  padding: 0;
}
.today_list {
  height: 334px;
  margin: 40px 0 0;
  padding: 56px 0 34px;
  background: url(../../images/content/shopcategory/bg_today_list.png) no-repeat;
}
.today_list li {
  float: left;
  overflow: hidden;
  padding: 12px 0 0;
  border-left: 1px solid #eee;
  width: 33.3%;
  margin: 0 0 0 -1px;
}
.today_list li:first-child {
  border: 0;
  margin: 0;
}
.today_list li a {
  position: relative;
  display: block;
  width: 300px;
  margin: 0 auto;
}
.today_list li .date {
  display: block;
  height: 26px;
  font-size: 16px;
  border-top: 1px solid #6e6e6e;
  letter-spacing: 0;
}
.today_list li .date span {
  display: block;
  width: 150px;
  background: #fff;
  margin: -15px 0 0;
}
.today_list li .thumb img {
  width: 300px;
  height: 300px;
}
.today_list li .g_box {
  position: absolute;
  top: 26px;
  left: -99999px;
  width: 250px;
  height: 250px;
  padding: 25px;
  background: url(../../images/content/shopcategory/bg_g_box.png) no-repeat;
  color: #fff;
  font-size: 15px;
}
.today_list li .g_box .txt1 {
  display: inline-block;
  padding: 0 0 6px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  font-weight: 700;
  line-height: 25px;
  font-size: 25px;
}
.today_list li .g_box .txt2 {
  display: block;
  margin: 0 0 100px;
  font-size: 40px;
  line-height: 45px;
}
.today_list li a:focus,
.today_list li a:hover {
  text-decoration: none;
}
.today_list li a:focus .date,
.today_list li a:hover .date {
  color: #118c00;
  border-top: 1px solid #118c00;
}
.today_list li a:focus .g_box,
.today_list li a:hover .g_box {
  left: 0;
}
.planshop_a #content_title,
.planshop_b #content_title {
  height: 60px;
  padding: 0;
}
.planshop #content_title #path {
  margin-top: 13px;
}
.planshop_top {
  min-width: 1090px;
  height: 201px;
  margin: -97px 0 0;
  background: url(../../images/content/shopcategory/bg_planshop.gif) repeat-x
    50% 0;
}
.planshop_top_inner {
  width: 868px;
  margin: 0 auto;
}
.planshop_top_inner h2 {
  width: 868px;
  height: 123px;
  margin: 0 0 0 -12px;
  padding: 78px 0 0;
  background: url(../../images/content/shopcategory/bg_planshop_top.png)
    no-repeat 50% 18px;
  text-align: center;
}
.planshop .tit_best_planshop {
  margin: 25px 0 12px;
  background: url(../../images/content/shopcategory/bg_best_planshop.gif)
    repeat-x;
  text-align: center;
}
.planshop .tit_best_planshop img {
  margin: -10px 0 0;
}
.planshop_banner {
  width: 100%;
  overflow: hidden;
}
.planshop_banner ul {
  width: 1096px;
  margin: 0 0 0 -5px;
}
.planshop_banner li {
  float: left;
  margin: 5px 0 0 5px;
  padding: 0 5px 0 5px;
  border: 1px solid #ddd;
}
.planshop_banner_item3 li img {
  width: 348px;
  height: 280px;
}
.planshop .planls {
  overflow: hidden;
}
.planshop .planls ul {
  overflow: hidden;
  margin-left: -11px;
}
.planshop .planls li {
  float: left;
  width: 356px;
  height: 166px;
  margin: 0 0 15px 11px;
}
.planshop .planls li a {
  display: block;
}
.planshop .planls li a img {
  width: 356px;
  height: 166px;
}
.planshop_banner01 {
  position: relative;
  margin: 20px 0 0;
}
.planshop_banner01 .tTitle {
  position: absolute;
  top: 0;
  width: 182px;
  height: 38px;
}
.planshop_banner01 .tTitle.f {
  width: 185px;
}
.planshop_banner01 .tTitle.current a {
  background: #666;
  border: 1px solid #565656;
  font-size: 16px;
  color: #fff;
}
.planshop_banner01 .tTitle a {
  display: block;
  height: 38px;
  line-height: 38px;
  background: #f5f5f5;
  border: 1px solid #dedede;
  text-align: center;
  color: #666;
}
.planshop_banner01 .tContent {
  margin: 20px 0 0;
  padding: 130px 0 0;
}
.planshop_banner01 .tboxbar {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 20px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #aaa;
  z-index: -1;
}
.planshop_banner01 .planshop_banner li img {
  height: 130px;
}
.planshop_a_head {
  width: 1280px;
  margin: 0 auto;
  padding:35px 0 16px;
}
.planshop_a_head:after {
  display: block;
  content: "";
  clear: both;
}
.planshop_a_head h3 {
  float: left;
  font-size: 22px;
  color: #000;
  font-weight:bold;
  width:100%;
}
.planshop_a_head h3 span {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height:2.2;
}
.planshop_a_head .user_select {
  float: right;
  margin: 5px 0 0;
}
.planshop_a_head .user_select .outSel {
  width: 190px;
}
.planshop_a_head .user_select .tag_options {
  width: 188px;
}
.planshop_a_head .user_select .btn {
  float: left;
  display: inline-block;
}
.planshop_a_head .user_select .btn a {
  display: inline-block;
  height: 27px;
  line-height: 25px;
  padding: 0 7px;
  border: 1px solid #bbb;
  border-bottom: 1px solid #898989;
  color: #666;
  font-size: 11px;
  line-height: 23px;
}
.etc .planshop_banner_box {
  width: 1920px;
  /* margin-left: -415px; */
  position: relative;
  left:50%;
  transform:translateX(-50%);
}
.planshop_banner_box {
  font-size: 13px;
  margin-bottom: 75px;
}
.planshop_banner_box a {
  display: block;
  float: left;
}
.planshop_banner_box img {
  display: block;
  float: left;
}
.planshop_banner_box:after {
  content: "";
  display: block;
  clear: both;
}
.planshop_banner_box div:after {
  content: "";
  display: block;
  clear: both;
}
.planshop_tab {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 2;
  padding-top:25px;
  margin-bottom:25px;
}
.planshop_tab li {
  float: left;
  line-height: 20px;
}
.planshop_tab a {
  display: inline-block;
  padding: 0 20px;
  border-left: 1px solid #ddd;
  color: #666;
}
.planshop_tab a>div:hover{
  text-decoration:underline;
}
.planshop_tab li:first-child a {
  padding-left: 0;
  border: 0;
}
.planshop_tab li.cnt a {
  font-size: 16px;
  color: #000;
  font-weight: 700;
}
.planshop_tab li.cnt a .plan_tit_ctg_nm{
  color:#fff;
}
.planshop_img_tab {
  margin: 20px 0 0;
  border: 0 !important;
}
.planshop_img_tab li a {
  padding: 0;
  border: 0;
  line-height: 1;
}
.planshop_section {
  width: 1280px;
  margin:0 auto;
}
.planshop_section .catelisttype1 {
  margin: 20px 0 0;
}
.planshop_b .planshop_tab {
  margin: 0 0 15px;
  padding: 0 0 8px;
  border-bottom: 1px solid #e2e2e2;
}
.planshop_b .productlist .prolisttype {
  top: 75px;
}
.shopcategory .themelist {
  margin: 40px 0 0;
}
.best100 .best10 .productimgtype4_item5 .item_unit .commenttxt1,
.best100 .best10 .productimgtype4_item5 .item_unit .pro .ico_store,
.best100 .best10 .productimgtype4_item5 .item_unit .pro .icontype1 em,
.best100 .best10 .productimgtype4_item5 .item_unit .pro .lktxt strong,
.best100 .best10 .productimgtype4_item5 .item_unit li .ico_delivery,
.best100 .best10 .productimgtype4_item5 .item_unit li .saleicontype1 {
  display: none;
}
.best100 .best10 .productimgtype4_item5 .item_unit .pro .icontype1 .itype_best,
.best100 .best10 .productimgtype4_item5 .item_unit .pro .icontype1 .txt_best {
  display: block;
}
.best100 .best10 .productimgtype4_item5 .item_unit .pro .icontype1 {
  top: 0;
}
.best100 .best10 .productimgtype4_item5 .item_unit li:hover {
  border: 1px solid #009de6;
  margin-left: -1px;
}
.best100 .best10 .productimgtype4_item5 .item_unit li.f:hover {
  margin: 0;
}
.best100 .best10 .productimgtype4_item5 .item_unit li .itype_best {
  width: 76px;
  height: 76px;
  background-position: 0 -160px;
  font-size: 24px;
}
.best100 .best10 .productimgtype4_item5 .item_unit li .itype_best .txt_best {
  display: block;
}
.best100 .best_prod .productimgtype4 .item_unit li {
  height: 445px;
  padding-top: 0;
}
.best100 .productimgtype4 ul li.f {
  margin-left: 0;
}
.best100 .best_prod .productimgtype4 .item_unit li:hover {
  border: 1px solid #009de6;
  margin-left: -1px;
}
.best100 .best_prod .productimgtype4 .item_unit li.f:hover {
  margin: 20px 0 0;
}
.best100 .best_prod .productimgtype4 .item_unit li .pro {
  padding-top: 40px;
}
.best100 .best_prod .productimgtype4 .item_unit li .pic {
  width: 225px;
  height: 225px;
}
.best100 .best_prod .productimgtype4 .item_unit li .icontype1 {
  top: 0;
  left: 0;
}
.best100 .best_prod .productimgtype4 .item_unit li .icontype1 em {
  display: none;
  text-indent: 0;
}
.best100 .best_prod .productimgtype4 .item_unit li .icontype1 .itype_best {
  display: block;
}
.best100 .best_prod .productimgtype4 .item_unit li .saleicontype1 {
  top: 10px;
  left: 10px;
}
.best100 .best_prod .productimgtype4 .item_unit .ico_delivery {
  display: none;
}
.best100 .best_prod .productimgtype4 .item_unit li .pro .btn_quick {
  top: 200px;
}
.best100 .best_prod .productimgtype4 .item_unit li .pro .lktxt {
  height: 53px;
  margin-bottom: 7px;
}
.popup_photo_cont {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100000;
}
.popup_photo_cont .popup_cont {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 650px;
  margin-left: -500px;
  margin-top: -325px;
  background: #fff;
  box-sizing: border-box;
}
.popup_photo_cont .popup_cont .top_con {
  height: 66px;
  background: #4e2988;
  font-size: 22px;
  line-height: 66px;
  text-align: center;
  font-weight: 700;
  color: #fff;
}
.popup_photo_cont .con {
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px 40px;
  box-sizing: border-box;
  height: 500px;
}
.popup_photo_cont .con_tit {
  font-weight: 700;
  color: #000;
  font-size: 27px;
  text-align: left;
}
.popup_photo_cont .con_subtit {
  padding: 10px 0 25px;
  text-align: left;
}
.popup_photo_cont .cont_txt {
  width: 100%;
  padding: 20px 0;
  text-align: left;
  font-size: 15px;
  line-height: 20px;
}
.popup_photo_cont .con img {
  max-height: 390px;
  margin: 0 auto;
}
.btn_popup_photo_close {
  margin: 15px auto;
  width: 120px;
  display: block;
  font-size: 15px;
  line-height: 45px;
  height: 45px;
  text-align: center;
  border: 1px solid #bbb;
  border-radius: 5px;
}
.btn_photo_modify {
  position: absolute;
  width: 52px;
  right: 20px;
  text-align: center;
  height: 26px;
  line-height: 24px;
  border: 1px solid #ccc;
  border-radius: 5px;
  bottom: 20px;
  box-sizing: border-box;
  font-size: 13px;
  padding: 0;
  background: #fff;
}
.photoview_comments {
  display: none;
}
.planshop .planls {
  overflow: hidden;
}
.planshop .planls li {
  float: left;
  width: 356px;
  height: 285px !important;
  margin-left: 15px;
  margin-bottom: 0 !important;
}
.planshop .planls ul li:nth-child(3n + 1) {
  margin-left: 0;
}
.planshop .planls ul li .desc {
  padding: 0 15px;
}
.planshop .planls ul li .desc h3 {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
  line-height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.planshop .planls ul li .desc p {
  display: inline-block;
  margin-top: 7px;
  font-size: 13px;
  color: #7e7e7e;
}
.planshop_tab li.cnt a {
  background: #333333;
  font-size: 17px;
  color: #fff;
  border:1px solid #333333;
}
.planshop_tab li:first-child a {
  border: 1px solid #e9e9e9;
}
.planshop_tab a {
  background: #fff;
  display: block;
  width: 100%;
  height: 60px;
  padding: 0;
  line-height: 57px;
  text-align: center;
  font-size: 17px;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  border-left: 0;
}
.planshop_tab a:hover {
  text-decoration: none;
}

/* 230106 css 추가 */
.planshop_a_head h3 span.sub_title_tbc{
    font-size:15px;
    width:100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    line-height:2.2;
}
.planshop_a_head .planshop_sub_box{
  float:left;
  margin-top:14px;
  display: flex;
  align-items:center;
}
.planshop_a_head .planshop_sub_box span{
  display:inline-block;
}
.planshop_a_head .planshop_sub_box span.sub_tit{
  max-width:600px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  position:relative;
}
.planshop_a_head .planshop_sub_box span.sub_tit>span{
  display:inline-block;
  width:1px;
  height:15px;
  background:#e0e0e0;
  margin:0 15px;
  vertical-align:middle;
}